/* beautiful nav */
.icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

a, li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Global CSS that are applied for all screen sizes */

.nav ul {
    /*max-width: 1240px;*/
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: 300;
}

.nav li span {
    display: block;
}

.nav a {
    display: block;
    color: rgba(249, 249, 249, .9);
    text-decoration: none;
    -webkit-transition: color .5s, background .5s, height .5s;
    -moz-transition: color .5s, background .5s, height .5s;
    -o-transition: color .5s, background .5s, height .5s;
    -ms-transition: color .5s, background .5s, height .5s;
    transition: color .5s, background .5s, height .5s;
}

.nav i{
    /* Make the font smoother for Chrome */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .nav ul:hover a {
    color: rgba(249, 249, 249, .5);
}

.no-touch .nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.nav li:nth-child(6n+1) {
    background: rgb(208, 101, 3);
}

.nav li:nth-child(6n+2) {
    background: rgb(233, 147, 26);
}

.nav li:nth-child(6n+3) {
    background: rgb(22, 145, 190);
}

.nav li:nth-child(6n+4) {
    background: rgb(22, 107, 162);
}

.nav li:nth-child(6n+5) {
    background: rgb(27, 54, 71);
}

.nav li:nth-child(6n+6) {
    background: rgb(21, 40, 54);
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

    /* Transforms the list into a horizontal navigation */
    .nav li {
        float: left;
        width: 16.66666666666667%;
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    .nav a {
        display: block;
        width: auto;
    }

    /* hover, focused and active effects that add a little colored border to the different items */
    .no-touch .nav li:nth-child(6n+1) a:hover,
    .no-touch .nav li:nth-child(6n+1) a:active,
    .no-touch .nav li:nth-child(6n+1) a:focus {
        border-bottom: 4px solid rgb(174, 78, 1);
    }

    .no-touch .nav li:nth-child(6n+2) a:hover,
    .no-touch .nav li:nth-child(6n+2) a:active,
    .no-touch .nav li:nth-child(6n+2) a:focus {
        border-bottom: 4px solid rgb(191, 117, 20);
    }

    .no-touch .nav li:nth-child(6n+3) a:hover,
    .no-touch .nav li:nth-child(6n+3) a:active,
    .no-touch .nav li:nth-child(6n+3) a:focus {
        border-bottom: 4px solid rgb(12, 110, 149);
    }

    .no-touch .nav li:nth-child(6n+4) a:hover,
    .no-touch .nav li:nth-child(6n+4) a:active,
    .no-touch .nav li:nth-child(6n+4) a:focus {
        border-bottom: 4px solid rgb(10, 75, 117);
    }

    .no-touch .nav li:nth-child(6n+5) a:hover,
    .no-touch .nav li:nth-child(6n+5) a:active,
    .no-touch .nav li:nth-child(6n+5) a:focus {
        border-bottom: 4px solid rgb(16, 34, 44);
    }

    .no-touch .nav li:nth-child(6n+6) a:hover,
    .no-touch .nav li:nth-child(6n+6) a:active,
    .no-touch .nav li:nth-child(6n+6) a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }

    /* Placing the icon */

    .icon {
        padding-top: 1.4em;
    }

    .icon + span {
        margin-top: 2.1em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Animating the height of the element*/
    .nav a {
        height: 9em;
    }

    .no-touch .nav a:hover ,
    .nav a:active ,
    .nav a:focus {
        height: 10em;
    }

    /* Making the text follow the height animation */
    .no-touch .nav a:hover .icon + span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s;
    }

    /* Positioning the icons and preparing for the animation*/
    .nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0.4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        background: rgba(255,255,255,0.1);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
    }

    /* Animate the box-shadow to create the effect */
    .no-touch .nav a:hover i,
    .no-touch .nav a:active i,
    .no-touch .nav a:focus i {
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out;
    }

}

@media (min-width: 50em) and (max-width: 61.250em) {

    /* Size and font adjustments to make it fit into the screen*/
    .nav ul {
        font-size: 1.2em;
    }

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {

    /* Instead of adding a border, we transition the background color */
    .no-touch .nav ul li:nth-child(6n+1) a:hover,
    .no-touch .nav ul li:nth-child(6n+1) a:active,
    .no-touch .nav ul li:nth-child(6n+1) a:focus {
        background: rgb(227, 119, 20);
    }

    .no-touch .nav li:nth-child(6n+2) a:hover,
    .no-touch .nav li:nth-child(6n+2) a:active,
    .no-touch .nav li:nth-child(6n+2) a:focus {
        background: rgb(245, 160, 41);
    }

    .no-touch .nav li:nth-child(6n+3) a:hover,
    .no-touch .nav li:nth-child(6n+3) a:active,
    .no-touch .nav li:nth-child(6n+3) a:focus {
        background: rgb(44, 168, 219);
    }

    .no-touch .nav li:nth-child(6n+4) a:hover,
    .no-touch .nav li:nth-child(6n+4) a:active,
    .no-touch .nav li:nth-child(6n+4) a:focus {
        background: rgb(31, 120, 176);
    }

    .no-touch .nav li:nth-child(6n+5) a:hover,
    .no-touch .nav li:nth-child(6n+5) a:active,
    .no-touch .nav li:nth-child(6n+5) a:focus {
        background: rgb(39, 70, 90);
    }

    .no-touch .nav li:nth-child(6n+6) a:hover,
    .no-touch .nav li:nth-child(6n+6) a:active,
    .no-touch .nav li:nth-child(6n+6) a:focus {
        background: rgb(32, 54, 68);
    }

    .nav ul li {
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        -ms-transition: background 0.5s;
        transition: background 0.5s;
    }

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {

    /* Creating the 2 column layout using floating elements once again */
    .nav li {
        display: block;
        float: left;
        width: 50%;
    }

    /* Adding some padding to make the elements look nicer*/
    .nav a {
        padding: 0.8em;
    }

    /* Displaying the icons on the left, and the text on the right side using inlin-block*/
    .nav li span,
    .nav li span.icon {
        display: inline-block;
    }

    .nav li span.icon {
        width: 50%;
    }

    .nav li .icon + span {
        font-size: 1em;
    }

    .icon + span {
        position: relative;
        top: -0.2em;
    }

    /* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
    .nav li i {
        display: inline-block;
        padding: 8% 9%;
        border: 4px solid transparent;
        border-radius: 50%;
        font-size: 1.5em;
        background: rgba(255,255,255,0.1);
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s;
    }

    /* Transition effect on the border color */
    .no-touch .nav li:hover i,
    .no-touch .nav li:active i,
    .no-touch .nav li:focus i {
        border: 4px solid rgba(255,255,255,0.1);
    }

}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {

    .nav li span.icon {
        width: 50%;
    }

    .nav li .icon + span {
        font-size: 0.9em;
    }
}

/* Styling the toggle menu link and hiding it */
.nav .navtoogle{
    display: none;
    width: 100%;
    padding: 0.5em 0.5em 0.8em;
    font-family: 'Lato',Calibri,Arial,sans-serif;
    font-weight: normal;
    text-align: left;
    color: rgb(7, 16, 15);
    font-size: 1.2em;
    background: none;
    border: none;
    border-bottom: 4px solid rgb(221, 221, 221);
    cursor: pointer;
}

.navtoogle i{
    z-index:-1;
}

.fa-align-justify {
    position: relative;
    top: 3px;
    line-height: 0;
    font-size: 1.6em;
}

@media (max-width: 32.438em) {

    /* Unhiding the styled menu link */
    .nav .navtoogle{
        margin: 0;
        display: block;
        padding-top: 16px;
    }

    /* Animating the height of the navigation when the button is clicked */

    /* When JavaScript is disabled, we hide the menu */
    .no-js .nav ul {
        max-height: 30em;
        overflow: hidden;
    }

    /* When JavaScript is enabled, we hide the menu */
    .js .nav ul {
        max-height: 0em;
        overflow: hidden;
    }

    /* Displaying the menu when the user has clicked on the button*/
    .js .nav .active + ul {
        max-height: 30em;
        overflow: hidden;
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s;
    }

    /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/

    .nav li span {
        display: inline-block;
        height: 100%;
    }

    .nav a {
        padding: 0.5em;
    }

    .icon + span {
        margin-left: 1em;
        font-size: 0.8em;
    }

    /* Adding a left border of 8 px with a different color for each menu item*/
    .nav li:nth-child(6n+1) {
        border-left: 8px solid rgb(174, 78, 1);
    }

    .nav li:nth-child(6n+2) {
        border-left: 8px solid rgb(191, 117, 20);
    }

    .nav li:nth-child(6n+3) {
        border-left: 8px solid rgb(13, 111, 150);
    }

    .nav li:nth-child(6n+4) {
        border-left: 8px solid rgb(10, 75, 117);
    }

    .nav li:nth-child(6n+5) {
        border-left: 8px solid rgb(16, 34, 44);
    }

    .nav li:nth-child(6n+6) {
        border-left: 8px solid rgb(9, 18, 25);
    }

    /* make the nav bigger on touch screens */
    .touch .nav a {
        padding: 0.8em;
    }
}

/* content */
.content {
    width: 90%;
    margin: 50px auto 50px;
}
.cbp-vm-switcher {
    padding: 20px;
    border: 3px solid #47a3da;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 3px solid #47a3da;
}

.cbp-vm-options a {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #d0d0d0;
    margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
    color: #47a3da;
}

.cbp-vm-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}

/* General style of switch items' list */
.cbp-vm-switcher ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before,
.cbp-vm-switcher ul:after {
    content: " ";
    display: table;
}
.cbp-vm-switcher ul:after {
    clear: both;
}
.cbp-vm-switcher ul li {
    display: block;
    position: relative;
}
.cbp-vm-image {
    display: block;
    margin: 0 auto;
}
.cbp-vm-image img {
    display: inline-block;
    max-width: 100%;
    border: none;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
}
.cbp-vm-image img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.cbp-vm-title {
    margin: 0;
    padding: 0;
}
.cbp-vm-count {
    color: #c0c0c0;
}
.cbp-vm-watch {
    color: #fff;
    background: #47a3da;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    display: inline-block;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}
.cbp-vm-watch:hover {
    background: #02639d;
}

.cbp-vm-updated {
    background: #d9534f;
    border-color: #d43f3a;
}

.cbp-vm-updated:hover {
    color: #fff;
    background: #c44240;
}

.cbp-vm-watch:before {
    margin-right: 5px;
}
/* Common icon styles */
.cbp-vm-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
/* Large grid view */
.cbp-vm-view-grid ul {
    text-align: center;
}

.cbp-vm-view-grid ul li {
    width: 33%;
    text-align: center;
    padding: 25px;
    margin: 20px 0 0;
    display: inline-block;
    min-height: 420px;
    vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-title {
    font-size: 2em;
}

.cbp-vm-view-grid .cbp-vm-second-title {
    max-width: 300px;
    min-height: 50px;
    margin: 0 auto;
}

.cbp-vm-view-grid .cbp-vm-count {
    margin: 10px 0;
    font-size: 1.5em;
}

/* List view */
.cbp-vm-view-list li {
    padding: 20px 0;
    white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-second-title,
.cbp-vm-view-list .cbp-vm-count,
.cbp-vm-view-list .cbp-vm-watch {
    display: inline-block;
    vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
    width: 10%;
}

.cbp-vm-view-list .cbp-vm-title {
    font-size: 1.3em;
    padding: 0 10px;
    white-space: normal;
    width: 23%;
}

.cbp-vm-view-list .cbp-vm-count {
    font-size: 1.3em;
    width: 10%;
}

.cbp-vm-view-list .cbp-vm-second-title {
    width: 40%;
    padding: 0 15px;
    overflow: hidden;
    white-space: normal;
}

.cbp-vm-view-list .cbp-vm-watch {
    margin: 0;
}

@media screen and (max-width: 66.7em) {
    .cbp-vm-view-list .cbp-vm-second-title  {
        width: 30%;
    }
}

@media screen and (max-width: 57em) {
    .cbp-vm-view-grid ul li {
        width: 49%;
    }
}

@media screen and (max-width: 47.375em) {
    .cbp-vm-view-list .cbp-vm-image {
        width: 20%;
    }

    .cbp-vm-view-list .cbp-vm-title {
        width: auto;
    }

    .cbp-vm-view-list .cbp-vm-second-title  {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .cbp-vm-view-list .cbp-vm-watch  {
        margin: 10px;
    }
}

@media screen and (max-width: 40.125em) {
    .cbp-vm-view-grid ul li {
        width: 100%;
    }
}

/* circle navigation on the footer */
.csstransforms .cn-wrapper {
    font-size: 1em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    bottom: -13em;
    left: 50%;
    border-radius: 50%;
    margin-left: -13em;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cn-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
}

.cn-overlay.on-overlay {
    visibility: visible;
    opacity: 1;
}

.cn-button {
    border: none;
    background: none;
    color: #f06060;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: #f1f2f0;
    position: fixed;
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
    color: #aa1010;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
    display: block;
    font-size: 1.18em;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    padding-top: 1.8em;
    text-align: center;
    -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
    -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
    -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
    transform: skew(-50deg) rotate(-70deg) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
    font-size: 1.1em;
    opacity: 0.7;
}

.csstransforms .cn-wrapper li:first-child {
    -webkit-transform: rotate(-10deg) skew(50deg);
    -ms-transform: rotate(-10deg) skew(50deg);
    -moz-transform: rotate(-10deg) skew(50deg);
    transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
    -webkit-transform: rotate(30deg) skew(50deg);
    -ms-transform: rotate(30deg) skew(50deg);
    -moz-transform: rotate(30deg) skew(50deg);
    transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(70deg) skew(50deg);
    -ms-transform: rotate(70deg) skew(50deg);
    -moz-transform: rotate(70deg) skew(50deg);
    transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
    -webkit-transform: rotate(110deg) skew(50deg);
    -ms-transform: rotate(110deg) skew(50deg);
    -moz-transform: rotate(110deg) skew(50deg);
    transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
    -webkit-transform: rotate(150deg) skew(50deg);
    -ms-transform: rotate(150deg) skew(50deg);
    -moz-transform: rotate(150deg) skew(50deg);
    transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
    background-color: #a11313;
    background-color: hsla(0, 88%, 63%, 1);
}

.csstransforms .cn-wrapper li:nth-child(even) a {
    background-color: #a61414;
    background-color: hsla(0, 88%, 65%, 1);
}

/* active style */
.csstransforms .cn-wrapper li.active a {
    background-color: #b31515;
    background-color: hsla(0, 88%, 70%, 1);
}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
    background-color: #b31515;
    background-color: hsla(0, 88%, 70%, 1);
}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}


/* fallback */
.no-csstransforms .cn-button {
    display: none;
}

.no-csstransforms .cn-wrapper li {
    position: static;
    float: left;
    font-size: 1em;
    height: 5em;
    width: 5em;
    background-color: #eee;
    text-align: center;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
    border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-wrapper {
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
}

@media screen and (max-width:480px) {
    .csstransforms .cn-wrapper {
        font-size: .68em;
    }

    .cn-button {
        font-size: 1em;
    }

    .csstransforms .cn-wrapper li {
        font-size: 1.52em;
    }
}

@media screen and (max-width:320px) {
    .no-csstransforms .cn-wrapper {
        width: 15.15px;
        margin-left: -7.5em;
    }

    .no-csstransforms .cn-wrapper li {
        height: 3em;
        width: 3em;
    }
}
